// 幅600px以上で適用

.font-mini {
    font-size: 12px;
}

.font-sm {
    font-size: 18px;
}

.font-md {
    font-size: 22px;
}

.font-lr {
    font-size: 32px;
}

.font-lg {
    font-size: 42px;
}

.font-ex {
    font-size: 250px;
}

.about {
    &__img {
        height: 400px; 
    }
}

.course {
    & .texts {
        text-align: start;
    }

    & .subject {
        display: flex;
        align-items: center;
    }

    &__menu-title {
        flex-basis: 35%;
        text-align: center;
    }

    &__menu-list {
        flex-basis: 65%;
        list-style-position: inside;
        list-style-image: url("../images/footPrints.png");
        display: flex;
        justify-content: space-around;

        & > li {
            writing-mode: vertical-rl;
        }
    }


    & .description {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    & .sentence {
        line-height: 4.0;
    }

    & .preamble {
        writing-mode: vertical-rl;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    & .postscript {
        writing-mode: vertical-rl;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    &__B {

        & .course__menu-title {
            order: 2;
        }
 
        & .course__menu-list {
            order: 1;
        }
    
    }

}

.price {
    &__point-title {
        border: 10px dotted #ec6d51;
        padding: 17px;
    }

    &__content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__texts {
        flex-basis: 50%;
        justify-content: space-between;
        padding: 0 5px;
    }

    &__img {
        flex-basis: 50%;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    }

    &__menu-title {
        align-items: center;

        & > .main-title {
            font-size: 30px;
        }
    }
}

.flow {
    & .circle {
        width: 380px;
        height: 380px;
    }
}

.footer {
    &__nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    & .logo {
        justify-content: flex-start;
    }

    &__li {
        margin-left: 0;
        margin-right: 30px;
    }
}

