$cWhite: white;
$cBlack: black;
$cWheat: wheat;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$cBgGray: #eaebe6;
$cSalon: #e9967a;
$cbtn-b: #800000;
$bgTitle: #a0522d;
$cMisomaru: #800000;
$cSection: #f5f5f5;
$navHeight: 100px;
$nav-aHeight: $navHeight * -1.6;
$fEng: 'Akaya Telivigala', cursive;